{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Mahsulotlar</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Chiqish</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <form method="post" class="form-container" style="padding: 20px;">
        {% csrf_token %}
        <label for="confirm-delete">
            {{ product.name }} mahsulotni o'chirishni tasdiqlang!
        </label>
        <button class="col-md-4 form-control">O'chirish</button>
        <a href="{% url 'products' %}">
            <button class="col-md-4 form-control" type="button">Bekor qilish</button>
        </a>
    </form>
    </div>
{% endblock %}